.build/
.env/
.venv/
.*.swo
.*.swp
arch/dfp/
env/
hex/
ignore/
old/
releases/
venv/
*~
*.cpp
*.elf
*.hex
*.html
*.o
*.old
*.otl

# 2025-02-16, added more items to be ignored:
anduril-mods/
bin-mods/
hw-mods/
dfp/
AVRDUDE-v8.0/
*.ps1
